{% load static  %}	
    <!-- Section: Contact -->		
	<div class="section section-contact" id="contact">
		<div class="container">
			<!-- Section Title -->
			<h2 class="title-of-section title-border">Get in Touch</h2>
			<!-- /Section Title -->
			<!-- row -->
			<div class="row">
				<!-- col -->
				<div class="col-sm-5">
					<!-- box -->
					<div class="contact-box">
						<h4 class="title4">Address: </h4>
						<p>Abazar St kashani Bl Tehran Iran</p>
						<h4 class="title4">Phone: </h4>
						<p>+989214610046</p>
						<h4 class="title4">Mail: </h4>
						<p>hesam.mahmoodi@gmail.com</p>
						<!-- Social Icons -->
	                    <div class="social-icons">
	                        <a href="https://www.instagram.com/hesamnia/"><i class="fa fa-instagram"></i></a>
			                        
			                <a href="https://www.linkedin.com/in/hesam-mahmoodi-nia-75629b8a/"><i class="fa fa-linkedin"></i></a>
	                    </div>
	                    <!-- /Social Icons -->
					</div>
					<!-- /box -->					
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-sm-7">
					<!-- form -->
					<form action="{% url 'resume:contact' %}" method="post" id="contactForm">
						{% csrf_token %}
						<!-- item -->            
						<div class="form-group">
						  <input type="text" class="form-control required" id="name" name="name" placeholder="Name*" required>
						</div>    
						<!-- /item -->
						<!-- item -->        
						<div class="form-group">
						  <input type="email" class="form-control required" id="email" name="email" placeholder="Email" required>
						</div>    
						<!-- /item --> 
						<!-- item -->            
						<div class="form-group">
						  <input type="text" class="form-control required" id="subject" name="subject" placeholder="Subject" required>
						</div>    
						<!-- /item -->
						<!-- item -->            
						<div class="form-group">
						  <textarea class="form-control required" name="message" id="message" placeholder="Message" required></textarea>
						</div>    
						<!-- /item --> 
						<!-- item -->            
						<div class="form-group form-send">
						  <input type="submit" value="enviar" class="btn btn-default btn3">
						</div>    
						<!-- /item -->                
					</form>
					<!-- /form -->
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /Section: Contact -->